* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    display: block;
    text-decoration: none;
}


.wrapper {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*----------шапка сайта-----------------*/
.header {
    height: 100px;
    border-bottom: 2px solid black;
    width: 100vw;
    position: relative;
}

.nav_conteiner {
    padding: 20px 60px;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.nav_list {
    flex: 1 1 auto;
    display: flex;
    margin: 0px 30px;
}

.nav_text {
    text-transform: uppercase;
}

.nav_text:hover {
    text-decoration: underline;
}

.link_text {}

.contact {
    position: relative;
}

.sub_contact_list {
    position: absolute;
    display: none;
    min-width: max-content;
    pointer-events: none;
}

.sub_nav_text {
    pointer-events: none;
}

.buttom_call {}

.call {}

/*------------Main--------------*/

.main {
    min-height: 85vh;
}

.book_shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books {
    margin: 60px 0px 0px;
    display: flex;
}

.book {
    display: block;
    opacity: .8;
    transition: transform ease .5s;
}

.book:hover {
    opacity: 1;
    filter: brightness(113%);
    transform: scale(1.1);
}

.link_book {
    height: 156px;
}

.shelf {
    display: block;
    z-index: 2;
    width: 305px;
    border: 8px solid rgb(148, 148, 148);
    box-shadow: 0px -1px 13px 7px rgba(153, 153, 153, 0.489);
    border-radius: 15px 15px 53px 53px;
}

.main_title {
    text-align: center;
}

.hello_text {
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: .2rem;
    opacity: .8;
}

.main_text {
    margin-top: 40px;
    font-size: 52px;
    font-weight: 200;
    letter-spacing: .3rem;
    opacity: .8;
}

.contact:hover .sub_contact_list {
    display: block;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    pointer-events: all;
}

.arrow {
    text-align: center;
    font-size: 5rem;
    position: relative;
    animation: arrowDown 2s infinite;
    margin-top: 40px;
}

/*<--------PROMO-------->*/

.promo {
    margin-bottom: 60px;
}

.promo_box {
    display: flex;
    align-items: center;
}

.promo_photo {
    width: 250px;
    border-radius: 50%;
}

.promo_text_item {
    padding: 0px 15px;
}

.promo_header {
    margin-bottom: 15px;
    padding-left: 30px;
}

.promo_text {
    display: block;
    width: 300px;
    margin-top: 12px;
}

/*<<--------PROMO-------->>*/

/*-------------TABLET------------*/
@media (max-width:722px) {

    body.active {
        overflow: hidden;
    }

    .nav_list {
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav_list.active {
        overflow: visible;
        opacity: 1;
        background-color: rgba(84, 84, 84, 0.795);
        width: 100vw;
        height: 100vh;
        font-size: 32px;
        top: 0px;
        left: -30px;
        padding: 10px 18px;
        z-index: 5;
    }

    .nav_text {
        display: block;
        margin: 0px;
        margin-bottom: 32px;
    }

    .menu_icon {
        z-index: 10;
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        margin-top: 7px;
        cursor: pointer;
        margin-right: 40px;
    }

    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: black;
    }

    .menu_icon::before,
    .menu_icon::after {
        content: '';
    }

    .menu_icon::before {
        top: 0;
    }

    .menu_icon::after {
        bottom: 0;
    }

    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu_icon.active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu_icon.active::before {
        background-color: rgb(255, 255, 255);
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        transition: 0.5s;
    }

    .menu_icon.active::after {
        background-color: rgb(253, 253, 253);
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        transition: 0.5s;
    }

    .link_text {
        color: white;
        font-size: 1.5rem;
    }

    .contact:hover.sub_nav_text {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        pointer-events: all;
    }

    .sub_contact_list {
        width: 80%vw;
    }

}

/*-------------SmallMobile------------*/
@media (max-width:583.2px) {

    .header {
        height: 60px;
    }

    .nav_conteiner {
        padding: 20px 20px;
    }

    .call {
        font-size: 1rem;
    }

    .logo {
        display: none;
    }

    .nav_list {
        margin-top: -83px;
    }

    .promo_box {
        flex-direction: column;
    }

    .promo_header {
        text-align: center;
    }

    .promo_text {
        text-align: center;
    }

}

/*<<-------------SmallMobile------------>>*/

/*------выравнивающие контейнеры-------*/

[class*="_conteiner"] {
    max-width: 1000px;
    margin: 0px auto;
    /* min-width: 90vw; */
}

/*<<------выравнивающие контейнеры------->>*/

/*------анимация стрелки-------*/

@keyframes arrowDown {
    0% {
        bottom: -6px;
        opacity: 1;
    }

    100% {
        bottom: -75px;
        opacity: 0;
    }
}

/*<<------анимация стрелки------->>*/